.App {
  text-align: center;
  background-color: rgb(109, 223, 255);
  height: 4rem;
  line-height: 4rem;
}

.choices{
  display: flex;
  margin-top: 20px;
  gap: 5rem;
  justify-content: center;
}

.choice{
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: red;
  object-fit: cover;
}

.scores{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 2rem;
}

.result-section {
  border-radius: 20px;
  height: 3rem;
  line-height: 3rem;
  margin: 0 30% 0 30%;
  color: white;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.1s ease; 
}

.win {
  background-color: green;
}

.lose {
  background-color: red;
}

.draw {
  background-color: blue;
}

.neutral {
  background-color: gray;
}

.reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.reset-btn:hover {
  background-color: darkgray;
}
